<script>
  function value_rsi_hide(id){
    var divelement = document.getElementById(id);
    if(divelement.style.display == "none"){
      divelement.style.display = "block"
    }else{
      divelement.style.display = "none";
    }
  }
</script>


<div id="families" class="container">
    <div class="card">
        <h1 class="card-header">Editar Pessoa</h1>
        <form action="/persons/edit/{{person.id}}" method="post">
            <div class="card-body">
                <div class="form-group">
                    <label>Nome</label>
                    <input  name="name" type="text" class="form-control" id="firstName" placeholder="{{person.name}}" value="{{person.name}}">
                </div>
                <div class="form-group">
                    <label>Idade</label>
                    <input name="idade" type="number" class="form-control" id="age" placeholder="{{person.idade}}" value="{{person.idade}}">
                </div>
                <div class="form-group">
                    <label>Escolaridade</label>
                    <input name = "escolaridade" type="number" class="form-control" id="school" placeholder="{{person.escolaridade}}" value="{{person.escolaridade}}">
                </div>
                <div class="form-group">
                    <label>Rendimentos</label>
                    <input name = "rendimentos" type="number" class="form-control" id="income" placeholder="{{person.rendimentos}}" value="{{person.rendimentos}}">
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="doencasBool" value="1" id="doencasBool" onchange="value_rsi_hide('doencaString');" {{#if person.doencaBool}} checked {{/if}}> 
                    <label>Doenças</label>
                </div>
                <div class="form-check">
                    <div id="doencaString" {{#if person.doencaBool}} {{else}}style="display:none" {{/if}}>
                    <label>Quais:</label>
                    <input class="form-control form-control-sm" type="text"  name="doencaString" placeholder="{{person.doencaString}}" value="{{person.doencaString}}">
                    </div>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="deficiente" value="1" {{#if person.deficiente}} checked {{/if}}> 
                    <label>Deficiencia</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="outros" value="1" {{#if person.outros}} checked {{/if}}> 
                    <label>Outros</label>
                </div>


                <button type="submit" class="btn btn-primary" >Submeter</button>
            </div>
        </form>

    </div>
</div>